{% extends "base/map.html" %}

{% block link %}
    {% for message in messages %}
        <div id="alert-message" js-message="{{message}}"></div>
    {% endfor %}
    <script>
        var message = document.getElementById('alert-message').getAttribute('js-message');
        alert(message);
    </script>
    <p style="text-align: center;"> Thời gian tìm kiếm là: {{time_search}} giây. <a href="\" id="link">Quay lại</a></p>
{% endblock link %}

{% block script %}
<script>
    var poly_line_fd6ff87e6fc47867e8728a37cc3a4c81 = L.polyline(
        {{start_route}},
        {
            "bubblingMouseEvents": true, 
            "color": "red", 
            "dashArray": [5, 5], 
            "dashOffset": null, 
            "fill": false, 
            "fillColor": "red", 
            "fillOpacity": 0.2, 
            "fillRule": "evenodd", 
            "lineCap": "round", 
            "lineJoin": "round", 
            "noClip": false, 
            "opacity": 1.0, 
            "smoothFactor": 1.0, 
            "stroke": true, 
            "weight": 3}
    ).addTo({{map_name}});

    var poly_line_fd6ff87e6fc47867e8728a37cc3a4c82 = L.polyline(
        {{end_route}},
        {
            "bubblingMouseEvents": true, 
            "color": "red", 
            "dashArray": [5, 5], 
            "dashOffset": null, 
            "fill": false, 
            "fillColor": "red", 
            "fillOpacity": 0.2, 
            "fillRule": "evenodd", 
            "lineCap": "round", 
            "lineJoin": "round", 
            "noClip": false, 
            "opacity": 1.0, 
            "smoothFactor": 1.0, 
            "stroke": true, 
            "weight": 3}
    ).addTo({{map_name}});

    var poly_line_fd6ff87e6fc47867e8728a37cc3a4c88 = L.polyline(
        {{route}},
        {
            "bubblingMouseEvents": true,
            "color": "red", 
            "dashArray": null, 
            "dashOffset": null, 
            "fill": false, 
            "fillColor": "red", 
            "fillOpacity": 0.2, 
            "fillRule": "evenodd", 
            "lineCap": "round", 
            "lineJoin": "round", 
            "noClip": false, 
            "opacity": 1.0, 
            "smoothFactor": 1.0, 
            "stroke": true, 
            "weight": 5}
    ).addTo({{map_name}});

    //Đường chim bay từ start tới target
    var poly_line_fd6ff87e6fc47867e8728a37cc3a4c89 = L.polyline(
        [{{start}}, {{target}}],
        {
            "bubblingMouseEvents": true, 
            "color": "black", 
            "dashArray": [5, 5], 
            "dashOffset": null, 
            "fill": false, 
            "fillColor": "red", 
            "fillOpacity": 0.2, 
            "fillRule": "evenodd", 
            "lineCap": "round", 
            "lineJoin": "round", 
            "noClip": false, 
            "opacity": 1.0, 
            "smoothFactor": 1.0, 
            "stroke": true, 
            "weight": 2}
    ).addTo({{map_name}});

    //Hiển thị icon start, end
    var marker_ac27d8833d08a09c8f2e834aa2ef2e31 = L.marker(
        {{start}},
                {}
            ).addTo({{map_name}});

    var popup_a89faa55267f8d7c1cda57045f0c38c8 = L.popup({"maxWidth": "100%"});
    var html_3dd62ef762cc51784fa01b4257084cd7 = $(`<div id="html_3dd62ef762cc51784fa01b4257084cd7" style="width: 100.0%; height: 100.0%; font-weight: bold;">Start</div>`)[0];
    popup_a89faa55267f8d7c1cda57045f0c38c8.setContent(html_3dd62ef762cc51784fa01b4257084cd7);
        
    marker_ac27d8833d08a09c8f2e834aa2ef2e31.bindPopup(popup_a89faa55267f8d7c1cda57045f0c38c8)


    var marker_f631cbc23f7840d69dfdf1b998d75eaa = L.marker(
        {{target}},
        {}
    ).addTo({{map_name}});
    

    var popup_a89faa55267f8d7c1cda57045f0c38c7 = L.popup({"maxWidth": "100%"});
    var html_3dd62ef762cc51784fa01b4257084cd6 = $(`<div id="html_3dd62ef762cc51784fa01b4257084cd6" style="width: 100.0%; height: 100.0%; font-weight: bold;">Target</div>`)[0];
    popup_a89faa55267f8d7c1cda57045f0c38c7.setContent(html_3dd62ef762cc51784fa01b4257084cd6);
        
    marker_f631cbc23f7840d69dfdf1b998d75eaa.bindPopup(popup_a89faa55267f8d7c1cda57045f0c38c7)
    ;
</script>
{% endblock script %}